

body {


}
header {
    background-color: grey;


}



.container-header {
width: 100%;
max-width: 1240px;
padding: 0 20px;
margin: 0 auto;
background-color: red;

}

.exampe  {
    display: flex;
    

    li {

        margin-right: 100px;
    }
}