.payment__desc  {

    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-size: 18px;
    // li {
    //     text-decoration: underline;
    // }
 
}

.title-payment {
    padding-top: 54px;
    color:#000000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;

}
.pays {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 640px;
    text-align: center;
    margin-top: 35px;
    margin-right: -30px;
  

}

.pays__item {
    margin-right: 30px;
&:last-child .pays__desc {

    cursor: default;
    color: black;
    border: none;
    text-decoration: none;
}



}
.pays__desc {

    font-size: 18px;
    color: #0777ba;
    border-bottom: 1px dotted #0777ba;
    line-height: 1.83;

}


// BLOCKS
.payment-blocks {
position: relative;

}

.payment-blocks__item {
display: flex;


}
.item-left {
    display: flex;
    flex-direction: row-reverse;
   justify-content: space-between; 
   margin: 0;

}

.payment-blocks-desc {

    margin-right: 37px;



p {
    margin-bottom: 0px;
    line-height: 27px;
    padding: 5px;

}
p:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  



}

.desc-left {
   margin:0;
}
strong {
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-top: 4px;
    color:red;
}

.payment-blocks__item-title {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 22px;
    color: black;
}


.payment-blocks__item-link {
    padding-top: 28px;
    display: inline-block;
    text-decoration: underline;
}
.payment-blocks__item-pic {
   
    // background:  url("../img/imgblock1.jpg") center top/ cover no-repeat;
    // min-width: 308px;
    // height: 285px;
    // overflow: hidden;
}
.payment-blocks__item-img {
    
    // min-width: 308px;
    // height: 285px;
}



 
.share  {
position: absolute;
top: 51px;
right: -60px;
}

.other {

   
  }
  p {
    color: ;
    font-size: 15px;
    margin-bottom: 12px;

   
  }
  
  p>strong {
    // margin-bottom: 0px;
    // line-height: 1;
  }

  .horizont-line {
    width: 200vw;
    float: none;
    background: #ccc;
    border: none;
    border-radius: 2px;
    height: 2px;
    margin-left: -500px;
    // margin: 72px 0;
    margin-top: 72px;
    margin-bottom: 72px;
  }
  



  .main__block {
    width: 100%;
    box-sizing: border-box;
    padding: 74px 0 71px;
    // border-bottom: 1px solid #cedae4; 
}
    .main__block:first-child {
        padding-top: 0; }
    .main__block .content {
        margin: 0 auto;
        max-width: 960px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
        .main__block .content_invert {
            -ms-flex-direction: row;
                flex-direction: row; }
        .main__block .content_invert > .content__image {
            margin-left: 0;
            margin-right: 45px; }
        .main__block .content__image {
            width: 32%;
            min-width: 308px;
            height: 290px;
            // filter: blur(1.8px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin-left: 45px; }
            // .main__block .content__image:after {
            //     content: "";
            //     background-color: #4086c5;
            //     opacity: .71;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%; }
        .main__block .content__title {
            font-size: 24px;
            color: #231f20;
            line-height: 1.125;
            margin-bottom: 30px; }
        .main__block .content__info-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            margin-bottom: 40px; }
        .main__block .content__info-paragraph {
            margin-bottom: 20px; }
            .main__block .content__info-paragraph:last-child {
                margin-bottom: 0; }
        .main__block .content__noty {
            font-size: 15px;
            line-height: 19px; }
            .main__block .content__noty .title {
                color: #d6163f;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 15px; }
        .main__block .content__link {
            margin-top: 55px; }
            .main__block .content__link a {
                font-size: 24px;
                color: #147ebe;
                text-decoration: underline;
                line-height: 1.125; }
                .main__block .content__link a:hover {
                    color: #000; }
            .main__block .content__link__info {
                margin-top: 35px;
                font-size: 15px;
                color: #231f20;
                line-height: 1.4; }