.payment__desc {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-size: 18px;

}

.title-payment {
    padding-top: 54px;
    color: #000000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;

}

.pays {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 640px;
    text-align: center;
    margin-top: 35px;
    margin-right: -30px;
}

.pays__item {
    margin-right: 30px;

    &:last-child .pays__desc {

        cursor: default;
        color: black;
        border: none;
        text-decoration: none;
    }

}

.pays__desc {

    font-size: 18px;
    color: #0777ba;
    border-bottom: 1px dotted #0777ba;
    line-height: 1.83;

}

.share {
    position: absolute;
    top: 51px;
    right: -60px;
}

// BLOCKS
.payment-blocks {
    position: relative;

}

.payment-blocks__item {
    width: 100%;
    box-sizing: border-box;
    padding: 74px 0 71px;

}

.payment-blocks__item:first-child {
    padding-top: 0;
}

.payment-blocks__item {

    .content {
        margin: 0 auto;
        max-width: 960px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .content_invert {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .content_invert>.content__image {
        margin-left: 0;
        margin-right: 45px;
    }


    .content__image {
        width: 32%;
        min-width: 308px;
        height: 290px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: 45px;
    }



    .content__title {
        font-size: 24px;
        color: #231f20;
        line-height: 1.125;
        margin-bottom: 30px;
    }


    .content__info-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 40px;
    }


    .content__info-paragraph {
        margin-bottom: 20px;
    }

    .content__info-paragraph:last-child {
        margin-bottom: 0;
    }


    .content__noty {
        font-size: 15px;
        line-height: 19px;
    }

    .content__noty .title {
        color: #d6163f;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .content__link {
        margin-top: 55px;


        a {
            font-size: 24px;
            color: #147ebe;
            text-decoration: underline;
            line-height: 1.125;
        }

        a:hover {
            color: #000;
        }
    }

    .content__link__info {
        margin-top: 35px;
        font-size: 15px;
        color: #231f20;
        line-height: 1.4;
    }

}

.horizont-line {
    width: 200vw;
    float: none;
    background: #ccc;
    border: none;
    border-radius: 2px;
    height: 2px;
    margin-left: -500px;
    margin-top: 72px;
    margin-bottom: 72px;
}